html, body {
  cursor: none; /* hide default cursor */
}

.Cursor {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  filter: url("#goo");
}

.Cursor span {
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
}
